@import "../common/root.scss";

// home page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: fit-content;
  background-color: $bg-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  overscroll-behavior: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
