@import "../common/root.scss";

.login-page {
  background-color: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* main layout */
  .main-layout {
    position: relative;
    width: 940px;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    /* login form */
    .login-form {
      width: 100%;
      height: 85%;
      display: flex;
      background: #161616;
      border-radius: 20px;

      .scroll-bar {
        width: 12%;
        height: 100%;
        padding: 40px 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        // brand logo
        .brand-logo {
          width: 35%;

          img {
            width: 100%;
          }
        }

        // section slider
        ul {
          margin-top: 50px;
          width: 100%;
          height: fit-content;

          li {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            list-style: none;

            .icon {
              font-size: 30px;
            }

            a {
              margin-top: -5px;
              text-align: center;
              color: #8a8a8a;
              font-family: $open-sans;
              font-weight: 300;
              font-size: 16px;
              transition: 0.5s;
              text-decoration: none;

              &:hover {
                color: $text-color;
              }
            }

            .line {
              position: absolute;
              transform: translateY(0);
              left: 0;
              width: 4px;
              height: 80%;
              border-radius: 50px;
              display: none;
              background-color: $primary-light;
            }

            &.active a {
              color: $text-color;
            }

            &.active .line {
              display: block;
            }
          }

          // sign in bar
          .sign-in-bar {
            &.animate .line {
              animation: line-up 0.5s ease forwards;
            }

            @keyframes line-up {
              from {
                transform: translateY(100%);
              }
              to {
                transform: translateY(0%);
              }
            }
          }

          // sign up bar
          .sign-up-bar {
            &.animate .line {
              animation: line-down 0.5s ease forwards;
            }

            @keyframes line-down {
              from {
                transform: translateY(-100%);
              }
              to {
                transform: translateY(0%);
              }
            }
          }
        }
      }

      //   forgot password

      .forgot-password {
        .forgot-password-form {
          position: absolute;
          right: 0;
          width: 43%;
          height: 85%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }

        .forgot-password-active {
          .text {
            animation: forgotPassword 0.5s ease;
          }

          @keyframes forgotPassword {
            0% {
              transform: translateY(30%);
            }
            100% {
              transform: translateY(0%);
            }
          }
        }

        .form-contain {
          position: absolute;
          width: 100%;
          height: fit-content;
          padding: 20px 40px;
          animation: loginForm 0.5s ease;

          @keyframes loginForm {
            0% {
              transform: translateX(-10%);
            }

            100% {
              transform: translateX(0%);
            }
          }

          .input-fields {
            position: relative;
            width: 100%;
            height: fit-content;
            margin-bottom: 5px;

            input {
              font-family: $open-sans;
              font-weight: 300;
              box-sizing: border-box;
              position: relative;
              left: 0;
              top: 0;
              padding: 0 30px;
              width: 100%;
              height: 60px;
              outline: none;
              color: #fff;
              font-size: 14px;
              border: 1px solid #3a3a3a;
              background: none;
              border-radius: 10px;
              margin-bottom: 20px;
              transition: 0.5s;

              &:focus {
                border: 1px solid #8a8a8a;
              }

              &::placeholder {
                color: #6a6a6a;
              }
            }
          }

          .reset-password-btn {
            position: relative;
            top: 0;
            width: 100%;
            height: 60px;
            font-family: $open-sans;
            font-weight: 300;
            background: $primary-color;
            outline: none;
            border: none;
            font-size: 14px;
            border-radius: 10px;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 25px;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              background: $hover-color;
            }

            &:disabled {
              background-color: $hover-color;
              cursor: not-allowed;
            }
          }

          .remember-link a {
            color: $text-color;
            text-decoration-thickness: 0.7px;
            text-underline-offset: 3px;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      //   sign in form
      .sign-in-form {
        position: absolute;
        right: 0;
        width: 43%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        .form-contain {
          position: absolute;
          width: 100%;
          height: fit-content;
          padding: 20px 40px;
          animation: methodForm 0.5s ease;

          @keyframes loginForm {
            0% {
              transform: translateX(-10%);
            }

            100% {
              transform: translateX(0%);
            }
          }

          .input-fields {
            position: relative;
            width: 100%;
            height: fit-content;
            margin-bottom: 5px;

            input {
              font-family: $open-sans;
              font-weight: 300;
              box-sizing: border-box;
              position: relative;
              left: 0;
              top: 0;
              padding: 0 30px;
              width: 100%;
              height: 60px;
              outline: none;
              color: #fff;
              font-size: 14px;
              border: 1px solid #3a3a3a;
              background: none;
              border-radius: 10px;
              margin-bottom: 20px;
              transition: 0.5s;

              &:focus {
                border: 1px solid #8a8a8a;
              }

              &::placeholder {
                color: #6a6a6a;
              }
            }
          }
        }
      }

      /* line text */
      .line-text {
        position: relative;
        width: 100%;
        height: fit-content;
        margin-bottom: 25px;
        font-size: 14px;

        p {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: $open-sans;
          font-weight: 300;
          color: #8a8a8a;

          &::before,
          &::after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid #5a5a5a;
            margin-top: 2px;
          }

          &::before {
            margin-right: 20px;
          }

          &::after {
            margin-left: 20px;
          }
        }
      }

      //   sign in options
      .signin-options {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        img {
          width: 100%;
          border-radius: 5px;
          filter: brightness(100%);
          transition: 0.5s;

          &:hover {
            filter: brightness(80%);
          }
        }
      }

      /* remember me */
      .rmbMe-forgotPwd {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        margin-bottom: 30px;
        margin-top: 25px;
      }

      .rmbMe {
        position: relative;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #fff;
        font-family: $open-sans;
        font-weight: 300;

        &:hover {
          color: #fff;
        }
      }

      .rmbMe::after {
        content: "";
        display: none;
      }

      /* forgot password */

      .forgot-link {
        position: absolute;
        right: 0;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 14px;
        color: #fff;
        text-decoration-thickness: 0.7px;
        text-underline-offset: 3px;

        &:hover {
          text-decoration: none;
        }
      }

      /* Sign In Button */

      .signin-btn {
        position: relative;
        top: 0;
        width: 100%;
        height: 60px;
        font-family: $open-sans;
        font-weight: 300;
        background: $primary-color;
        outline: none;
        border: none;
        font-size: 14px;
        border-radius: 10px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 25px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background: $hover-color;
        }

        &:disabled {
          background-color: $hover-color;
          cursor: not-allowed;
        }
      }

      /* privacy & link sign up */
      .link-wrapper {
        position: relative;
        top: 0;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 14px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        color: #707070;

        .privacy {
          color: #fff;
          text-decoration-thickness: 0.7px;
          text-underline-offset: 3px;
          margin-bottom: 20px;

          &:hover {
            text-decoration: none;
          }
        }

        .sign-up-link a {
          color: #fff;
          text-decoration-thickness: 0.7px;
          text-underline-offset: 3px;

          &:hover {
            text-decoration: none;
          }
        }
      }

      /* check box */
      input[type="checkbox"] {
        position: relative;
        opacity: 1;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: $primary-color;
          border: none;
        }

        &:checked ~ .checkmark::after {
          content: "";
          position: absolute;
          display: block;
          color: #fff;
        }
      }

      /* check mark */
      .checkmark {
        position: relative;
        margin-right: 10px;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        transition: 0.2s all;
      }

      .checkmark::after {
        content: "";
        position: absolute;
        top: 10%;
        transform: translateY(-50%);
        width: 4px;
        height: 8px;
        border: solid #fff;
        display: none;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      //   sign up form
      .regis-options {
        position: absolute;
        top: 0;
        right: 0;
        width: 43%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin-right: 30px;
          width: 25%;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        /* method contain */

        .method-contain {
          position: absolute;
          width: 100%;
          height: fit-content;
          padding: 20px 40px;
          animation: methodForm 0.5s ease;
        }

        @keyframes methodForm {
          0% {
            transform: translateX(-10%);
          }

          100% {
            transform: translateX(0%);
          }
        }

        /* regis link*/
        .regis-link {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          margin-bottom: 20px;
          border-radius: 5px;
          background: #2a2a2a;
          color: #fff;
          text-decoration: none;
          font-family: $open-sans;
          font-weight: 300;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            outline: 1px solid #5a5a5a;
            outline-offset: 2px;
            color: #fff;
          }
        }
        /* sign-in link */
        .sign-in-link {
          display: flex;
          justify-content: center;
          margin-top: 45px;
          font-size: 14px;
          color: #707070;
          font-family: $open-sans;
          font-weight: 300;

          a {
            color: #fff;
            text-decoration-thickness: 0.5px;
            text-underline-offset: 3px;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      /* sign up form */
      .sign-up-form {
        position: absolute;
        right: 0;
        width: 43%;
        height: 85%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        /* form contain */

        .regis-form-contain {
          position: absolute;
          width: 100%;
          height: fit-content;
          padding: 0px 40px;
          animation: regisForm 0.5s ease;

          @keyframes regisForm {
            0% {
              transform: translateX(-10%);
            }

            100% {
              transform: translateX(0%);
            }
          }

          // input fields
          .input-fields {
            position: relative;
            top: 0%;
            width: 100%;
            height: fit-content;
            margin-bottom: 30px;

            .fields-name {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 10px;
              width: 100%;
              height: fit-content;
            }

            // input
            input {
              box-sizing: border-box;
              position: relative;
              left: 0;
              top: 0;
              font-family: $open-sans;
              font-weight: 300;
              padding: 0 30px;
              width: 100%;
              height: 60px;
              outline: none;
              color: #fff;
              font-size: 14px;
              border: 1px solid #3a3a3a;
              background: none;
              transition: 0.5s;
              border-radius: 10px;
              margin-bottom: 20px;

              &:focus {
                border: 1px solid #8a8a8a;
              }

              &::placeholder {
                color: #6a6a6a;
              }
            }

            input[type="password"] {
              margin-bottom: 0;
            }
          }

          /* terms of service */

          .argeeTerms {
            position: relative;
            top: 0;
            display: flex;
            align-items: center;
            width: 100%;
            height: fit-content;
            margin-bottom: 30px;
          }

          .terms {
            position: relative;
            cursor: pointer;
            font-size: 14px;
            display: flex;
            align-items: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #a1a1a1;
            font-family: $open-sans;
            font-weight: 300;

            a {
              color: #fff;
              text-decoration-thickness: 0.7px;
              text-underline-offset: 3px;

              &:hover {
                text-decoration: none;
              }
            }
          }

          //   sign in link

          .sign-in-link a {
            color: #fff;
            text-decoration-thickness: 0.5px;
            text-underline-offset: 3px;

            &:hover {
              text-decoration: none;
            }
          }

          /* Regis Button */

          .regis-btn {
            position: relative;
            top: 0;
            width: 100%;
            height: 60px;
            font-family: $open-sans;
            font-weight: 300;
            background: $primary-color;
            outline: none;
            border: none;
            border-radius: 10px;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
            margin-bottom: 30px;

            &:hover {
              background: $hover-color;
            }

            &:disabled {
              background-color: $hover-color;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    //

    .banner {
      position: absolute;
      top: 0;
      left: 34.5%;
      transform: translateX(-50%);
      background-image: url(../../assets/images/login-page/banner.png);
      background-size: cover;
      display: flex;
      align-items: center;
      width: 45%;
      height: 100%;
      border-radius: 20px;

      &.sign-in-active .text {
        animation: banner-sign-in 0.5s ease;
      }

      @keyframes banner-sign-in {
        0% {
          transform: translateY(30%);
        }

        100% {
          transform: translateY(0%);
        }
      }

      &.sign-up-active .text {
        animation: banner-sign-up 0.5s ease;
      }

      @keyframes banner-sign-up {
        0% {
          transform: translateY(-30%);
        }

        100% {
          transform: translateY(0%);
        }
      }

      .text {
        position: absolute;
        left: 10%;
        bottom: 30%;
        height: fit-content;
        color: #fff;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 16px;

        h2 {
          font-family: $open-sans;
          font-weight: 500;
          margin-bottom: 20px;
          font-size: 25px;
        }

        p {
          max-width: 100%;
        }
      }

      .back-to-method-regis {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: $text-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        animation: backToMethod 0.5s ease;

        @keyframes backToMethod {
          0% {
            transform: scale(0);
          }

          100% {
            transform: scale(1);
          }
        }

        .icon {
          font-size: 24px;
          color: #5a5a5a;
        }
      }
    }
  }
}
