@import "../common/root.scss";

.product-details-page {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: $open-sans;
  padding: 150px 8vw 120px 8vw;

  .section-01 {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2.5fr 1.3fr;
    justify-content: space-between;
    gap: 4vw;
    margin-bottom: 6vw;

    .thumbnails {
      position: relative;
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: 0.45fr 2fr;
      gap: 1.5vw;
      overflow: hidden;

      .image-items {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 1.5vw;

        .item {
          position: relative;
          overflow: hidden;
          width: 100%;
          aspect-ratio: 1 / 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          cursor: pointer;
          transition: 0.3s;
          border: 1px solid #1a1a1a;
          background-color: #101010;
          z-index: 1;
          opacity: 0.5;

          img {
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
          }

          &.active {
            opacity: 1 !important;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .main-item {
        position: relative;
        height: 100%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transform: translateX(0);
        background-color: #101010;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }
      }

      .main-item.slide-left img {
        animation: slide-left 0.5s ease;
      }

      @keyframes slide-left {
        0% {
          transform: translateX(20%);
        }
        100% {
          transform: translateX(0);
        }
      }

      .main-item.slide-right img {
        animation: slide-right 0.5s ease;
      }

      @keyframes slide-right {
        0% {
          transform: translateX(-20%);
        }
        100% {
          transform: translateX(0);
        }
      }
    }

    .product-information {
      position: relative;
      right: 0;
      width: 100%;
      overflow: hidden;

      .product-heading {
        display: flex;
        justify-content: space-between;
        font-size: 1.5vw;
        max-width: 100%;
        font-family: $open-sans;
        font-weight: 500;

        .wishlist-btn {
          width: fit-content;
          height: fit-content;
          margin-top: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1vw;
          font-size: 2vw;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            color: #5a5a5a;
          }
        }
      }

      .product-reviews {
        width: fit-content;
        display: flex;
        align-items: center;
        font-family: $open-sans;
        font-weight: 300;
        margin-top: 1.6vw;
        cursor: pointer;

        .star {
          display: flex;
          align-items: center;
          margin-right: 2px;
          font-size: 1vw;
          color: $primary-color;
        }

        .total-reviews {
          margin-left: 5px;
          font-size: 1vw;
          color: #5a5a5a;
          transition: 0.5s;
        }

        &:hover .total-reviews {
          color: $text-color;
        }
      }

      .general-in4 {
        margin-top: 1.7vw;

        .title {
          font-size: 1vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
          margin-bottom: 20px;
        }

        .brand,
        .product-code,
        .guarantee,
        .return {
          margin-top: 1.5vw;
          font-size: 1.1vw;
          line-height: 1.8vw;
          font-family: $open-sans;
          font-weight: 300;
          color: $text-color;

          span {
            color: #5a5a5a;
          }
        }
      }

      .price-and-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2vw;

        .price .title,
        .quantity .title {
          font-size: 1.1vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
        }

        .price .price-value {
          margin-top: 10px;
          font-size: 1.5vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
        }

        .quantity .quantity-btn {
          margin-top: 15px;
          font-size: 1.3vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .minus,
          .plus {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 1.3vw;
            color: #8a8a8a;
          }
        }
      }

      .add-to-cart {
        width: 100%;
        height: 4.3vw;
        margin-top: 2vw;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 1vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #2a2a2a;
        background-color: transparent;
        border-radius: 50px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #1a1a1a;
          color: white;
        }
      }

      .buy-now {
        width: 100%;
        height: 4.3vw;
        margin-top: 1.5vw;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 1vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        border-radius: 50px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }

  // section 02
  .section-02 {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2.5fr 1.3fr;
    justify-content: space-between;
    gap: 4vw;
    margin-bottom: 100px;

    // product description
    .product-description {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;

      .feature-heading {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .header-wrapper {
          position: relative;
          width: 100%;
          margin-top: 2vw;
          display: flex;
          justify-content: flex-start;
          font-family: $open-sans;
          font-weight: 300;
          font-size: 1vw;
          line-height: 1.8vw;
          color: $text-color;
          z-index: 1;

          .chbar {
            border: 1px solid #2a2a2a;
            padding: 5px 20px;
            border-radius: 20px;
            transition: 0.5s;
            cursor: pointer;

            &.active {
              background-color: #2a2a2a;
            }

            &:not(.active) {
              background-color: transparent;

              &:hover {
                background-color: #2a2a2a;
              }
            }
          }

          .key-feature {
            margin-right: 10px;
          }
        }

        // background
        .background {
          position: absolute;
          left: 0;
          top: 0;
          width: 110%;
        }

        // product image
        .product_des_img {
          position: relative;
          width: 80%;
          object-fit: cover;
          margin-top: 1.5vw;
          z-index: 1;
        }
      }

      // description wrapper
      .des-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3vw;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 1.1vw;
        line-height: 1.8vw;
        text-align: center;

        h4 {
          margin-bottom: 20px;
          font-size: 1.8vw;
          font-weight: 500;
        }
      }

      // feature description
      .feature-description {
        position: relative;
        width: 100%;
        margin-top: 6vw;
        background-image: url(../../assets/images/product-details/bg-nv.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;

        .title {
          position: relative;
          font-size: 1.5vw;
          font-family: $open-sans;
          color: $text-color;
          text-align: center;
          margin-top: 3vw;
          z-index: 1;

          h4 {
            font-size: 1.2vw;
            font-weight: 300;
            margin-top: 1.5vw;
          }

          h1 {
            font-size: 2vw;
            font-weight: 500;
            margin-top: 1vw;
          }
        }

        .feature-wrapper {
          margin-top: 2vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 4vw;

          // feature img
          .feature-img {
            position: relative;
            left: 0;
            width: 50%;
            object-fit: cover;
          }

          // feature
          .feature {
            .phrase {
              font-family: $open-sans;
              font-weight: 300;
              font-size: 1vw;
              padding: 0.8vw;
              color: $text-color;

              .title {
                font-size: 1.2vw;
                font-weight: 500;
              }

              p {
                margin-top: 0.5vw;
              }
            }
          }
        }

        .all-features-wrapper {
          margin-top: 2vw;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, auto);
          gap: 1.3vw;

          .feature-items {
            width: 100%;
            text-align: center;

            img {
              width: 36%;
              object-fit: cover;
            }

            .phrase {
              .title {
                font-size: 1vw;
                font-weight: 700;
              }

              p {
                margin-top: 0.5vw;
                font-size: 0.8vw;
                font-weight: 300;
              }
            }
          }
        }

        .end-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 100%;
          font-family: $open-sans;
          margin-top: 6vw;
          padding: 1vw 2vw;
          background-image: url(../../assets/images/product-details/nvidia-ai.jpg);
          background-size: contain;
          background-repeat: no-repeat;

          .title {
            margin-top: 0;
            max-width: 60%;
            font-weight: 700;
            font-size: 1.8vw;
          }

          .sub-title {
            max-width: 50%;
            font-weight: 400;
            font-size: 1.3vw;
            margin-top: 1.5vw;
          }

          .paragraph {
            max-width: 60%;
            font-weight: 300;
            font-size: 1.1vw;
            margin-top: 1.5vw;
          }

          .learn-more {
            margin-top: 1.5vw;
            width: 8.5vw;
            height: 2.8vw;
            color: $text-color;
            border: 1px solid #2a2a2a;
            border-radius: 50px;
            font-size: 0.85vw;
            font-family: $open-sans;
            font-weight: 300;
            background: none;
            outline: none;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              background-color: #2a2a2a;
            }
          }
        }
      }
    }

    .product-bar {
      width: 100%;
      height: 100%;

      // gift
      .gift {
        width: 100%;

        .title {
          font-size: 1.6vw;
          font-family: $open-sans;
          font-weight: 400;
          color: $text-color;
          text-transform: capitalize;
        }

        .gift-item {
          margin-top: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          aspect-ratio: 1 / 0.4;
          background-color: #2a2a2a;
          border-radius: 1.5vw;
        }
      }

      // ratings and reviews
      .ratings-and-reviews {
        margin-top: 3vw;
        width: 100%;

        .total-ratings {
          width: 100%;

          .title {
            font-size: 1.6vw;
            font-family: $open-sans;
            font-weight: 400;
            color: $text-color;
            text-transform: capitalize;
          }

          .overview-board {
            margin-top: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            aspect-ratio: 1 / 0.4;
            background-color: #2a2a2a;
            border-radius: 1.5vw;
          }
        }

        // user reviews
        .user-reviews {
          margin-top: 3vw;

          .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $open-sans;

            .title {
              font-size: 1.6vw;
              font-weight: 400;
              color: $text-color;
              text-transform: capitalize;
              display: flex;
              align-items: center;

              span {
                margin-left: 8px;
              }
            }

            .view-all-reviews {
              font-size: 1vw;
              font-weight: 300;
              color: #5a5a5a;
              text-transform: uppercase;
              transition: 0.5s;
              cursor: pointer;

              &:hover {
                color: $text-color;
              }
            }
          }

          // all reviews
          .all-reviews {
            margin-top: 1vw;

            .review {
              margin-top: 0.8vw;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              aspect-ratio: 1 / 0.4;
              background-color: #2a2a2a;
              border-radius: 1.5vw;
            }
          }
        }

        // related products
        .related-products {
          margin-top: 3vw;

          .title {
            font-size: 1.6vw;
            font-weight: 400;
            color: $text-color;
            text-transform: capitalize;
            display: flex;
            align-items: center;
          }

          .all-related-products {
            margin-top: 1vw;

            .product-item {
              margin-top: 0.8vw;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              aspect-ratio: 1 / 0.4;
              background-color: #2a2a2a;
              border-radius: 1.5vw;
            }
          }
        }
      }
    }
  }
}
