@import "../common/root.scss";

.product-details-page {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: $open-sans;
  padding: 150px 8vw 120px 8vw;

  .section-01 {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2.5fr 1.3fr;
    justify-content: space-between;
    gap: 4vw;
    margin-bottom: 6vw;

    .thumbnails {
      position: relative;
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: 0.45fr 2fr;
      gap: 1.5vw;
      overflow: hidden;

      .image-items {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 1.5vw;

        .item {
          position: relative;
          overflow: hidden;
          width: 100%;
          aspect-ratio: 1 / 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          cursor: pointer;
          transition: 0.3s;
          border: 1px solid #1a1a1a;
          background-color: #101010;
          z-index: 1;
          opacity: 0.5;

          img {
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
          }

          &.active {
            opacity: 1 !important;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .main-item {
        position: relative;
        height: 100%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transform: translateX(0);
        background-color: #101010;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }
      }

      .main-item.slide-left img {
        animation: slide-left 0.5s ease;
      }

      @keyframes slide-left {
        0% {
          transform: translateX(20%);
        }
        100% {
          transform: translateX(0);
        }
      }

      .main-item.slide-right img {
        animation: slide-right 0.5s ease;
      }

      @keyframes slide-right {
        0% {
          transform: translateX(-20%);
        }
        100% {
          transform: translateX(0);
        }
      }
    }

    .product-information {
      position: relative;
      right: 0;
      width: 100%;
      overflow: hidden;

      .product-heading {
        display: flex;
        justify-content: space-between;
        font-size: 1.5vw;
        max-width: 100%;
        font-family: $open-sans;
        font-weight: 500;

        .wishlist-btn {
          width: fit-content;
          height: fit-content;
          margin-top: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1vw;
          font-size: 2vw;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            color: #5a5a5a;
          }
        }
      }

      .product-reviews {
        width: fit-content;
        display: flex;
        align-items: center;
        font-family: $open-sans;
        font-weight: 300;
        margin-top: 1.6vw;
        cursor: pointer;

        .star {
          display: flex;
          align-items: center;
          margin-right: 2px;
          font-size: 1vw;
          color: $primary-color;
        }

        .total-reviews {
          margin-left: 5px;
          font-size: 1vw;
          color: #8a8a8a;
          transition: 0.5s;
        }

        &:hover .total-reviews {
          color: $text-color;
        }
      }

      .general-in4 {
        margin-top: 1.7vw;

        .title {
          font-size: 1vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
          margin-bottom: 20px;
        }

        .brand,
        .product-code,
        .guarantee,
        .return {
          margin-top: 1.5vw;
          font-size: 1.1vw;
          line-height: 1.8vw;
          font-family: $open-sans;
          font-weight: 300;
          color: $text-color;

          span {
            color: #8a8a8a;
          }
        }
      }

      .price-and-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2vw;

        .price .title,
        .quantity .title {
          font-size: 1.1vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
        }

        .price .price-value {
          margin-top: 10px;
          font-size: 1.5vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
        }

        .quantity .quantity-btn {
          margin-top: 15px;
          font-size: 1.3vw;
          font-family: $open-sans;
          font-weight: 500;
          color: $text-color;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .minus,
          .plus {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 1.3vw;
            color: #8a8a8a;
          }
        }
      }

      .add-to-cart {
        width: 100%;
        height: 4.3vw;
        margin-top: 2vw;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 1vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #2a2a2a;
        background-color: transparent;
        border-radius: 50px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: #1a1a1a;
          color: white;
        }
      }

      .buy-now {
        width: 100%;
        height: 4.3vw;
        margin-top: 1.5vw;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 1vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        border-radius: 50px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }

  // section 02
  .section-02 {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 2.5fr 1.3fr;
    justify-content: space-between;
    gap: 4vw;

    // product description
    .product-description {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;

      .feature-heading {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .header-wrapper {
          position: relative;
          width: 100%;
          margin-top: 2vw;
          display: flex;
          justify-content: flex-start;
          font-family: $open-sans;
          font-weight: 300;
          font-size: 1vw;
          line-height: 1.8vw;
          color: $text-color;
          z-index: 1;

          .chbar {
            border: 1px solid #2a2a2a;
            padding: 5px 20px;
            border-radius: 20px;
            transition: 0.5s;
            cursor: pointer;

            &.active {
              background-color: #2a2a2a;
            }

            &:not(.active) {
              background-color: transparent;

              &:hover {
                background-color: #2a2a2a;
              }
            }
          }

          .key-feature {
            margin-right: 10px;
          }
        }

        // background
        .background {
          position: absolute;
          left: 0;
          top: 0;
          width: 110%;
        }

        // product image
        .product_des_img {
          position: relative;
          width: 80%;
          object-fit: cover;
          margin-top: 1.5vw;
          z-index: 1;
        }
      }

      // specifications
      .sp-section {
        margin-top: 3vw;
        width: 100%;
        font-family: $open-sans;
        font-weight: 300;

        .display-table {
          margin-top: 3vw;

          .item {
            width: 35%;
            height: 3vw;
            display: flex;
            align-items: center;
          }

          .display-table-row {
            width: 100%;
            height: fit-content;
            padding: 0.8vw 0.8vw;
            font-size: 1vw;
            line-height: 1.8vw;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #2a2a2a;

            &:hover {
              background-color: #2a2a2a;
            }
          }
        }
      }

      // model page memo
      .model-page-memo {
        margin-top: 2vw;
        width: 100%;

        img {
          width: 20%;
          object-fit: cover;
          margin-bottom: 0.8vw;
        }

        p {
          font-family: $open-sans;
          font-weight: 300;
          font-size: 1vw;
          margin-top: 0.8vw;
        }
      }

      // description wrapper
      .des-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3vw;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 1.1vw;
        line-height: 1.8vw;
        text-align: center;

        h4 {
          margin-bottom: 20px;
          font-size: 1.8vw;
          font-weight: 500;
        }
      }

      // feature description
      .feature-description {
        position: relative;
        width: 100%;
        margin-top: 6vw;
        background-image: url(../../assets/images/product-details/bg-nv.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;

        .title {
          position: relative;
          font-size: 1.5vw;
          font-family: $open-sans;
          color: $text-color;
          text-align: center;
          margin-top: 3vw;
          z-index: 1;

          h4 {
            font-size: 1.2vw;
            font-weight: 300;
            margin-top: 1.5vw;
          }

          h1 {
            font-size: 2vw;
            font-weight: 500;
            margin-top: 1vw;
          }
        }

        .feature-wrapper {
          margin-top: 2vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 4vw;

          // feature img
          .feature-img {
            position: relative;
            left: 0;
            width: 50%;
            object-fit: cover;
          }

          // feature
          .feature {
            .phrase {
              font-family: $open-sans;
              font-weight: 300;
              font-size: 1vw;
              padding: 0.8vw;
              color: $text-color;

              .title {
                font-size: 1.2vw;
                font-weight: 500;
              }

              p {
                margin-top: 0.5vw;
              }
            }
          }
        }

        .all-features-wrapper {
          margin-top: 2vw;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, auto);
          gap: 1.3vw;

          .feature-items {
            width: 100%;
            text-align: center;

            img {
              width: 36%;
              object-fit: cover;
            }

            .phrase {
              .title {
                font-size: 1vw;
                font-weight: 700;
              }

              p {
                margin-top: 0.5vw;
                font-size: 0.8vw;
                font-weight: 300;
              }
            }
          }
        }

        .end-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 100%;
          font-family: $open-sans;
          margin-top: 6vw;
          padding: 1vw 2vw;
          background-image: url(../../assets/images/product-details/nvidia-ai.jpg);
          background-size: contain;
          background-repeat: no-repeat;

          .title {
            margin-top: 0;
            max-width: 60%;
            font-weight: 700;
            font-size: 1.8vw;
          }

          .sub-title {
            max-width: 50%;
            font-weight: 400;
            font-size: 1.3vw;
            margin-top: 1.5vw;
          }

          .paragraph {
            max-width: 60%;
            font-weight: 300;
            font-size: 1.1vw;
            margin-top: 1.5vw;
          }

          .learn-more {
            margin-top: 1.5vw;
            width: 8.5vw;
            height: 2.8vw;
            color: $text-color;
            border: 1px solid #2a2a2a;
            border-radius: 50px;
            font-size: 0.85vw;
            font-family: $open-sans;
            font-weight: 300;
            background: none;
            outline: none;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              background-color: #2a2a2a;
            }
          }
        }
      }
    }

    .product-bar {
      width: 100%;
      height: 100%;

      // gift
      .gift {
        width: 100%;

        .title {
          font-size: 1.6vw;
          font-family: $open-sans;
          font-weight: 400;
          color: $text-color;
          text-transform: capitalize;
        }

        .gift-item {
          margin-top: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          aspect-ratio: 1 / 0.4;
          background-color: #2a2a2a;
          border-radius: 1.5vw;
        }
      }

      // ratings and reviews
      .ratings-and-reviews {
        width: 100%;

        .total-ratings {
          width: 100%;

          .title {
            font-size: 1.6vw;
            font-family: $open-sans;
            font-weight: 400;
            color: $text-color;
            text-transform: capitalize;
          }

          .overview-board {
            margin-top: 1vw;
            display: flex;
            flex-direction: column;
            width: 100%;
            aspect-ratio: 1 / 0.8;
            background-color: #161616;
            border-radius: 1.5vw;

            // overall
            .overall {
              display: grid;
              grid-template-columns: 1fr 1.2fr;
              width: 100%;

              // overall rating
              .overall-rating {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1vw;
                font-family: $open-sans;
                font-weight: 500;
                color: $text-color;

                .number {
                  display: flex;
                  align-items: center;
                  color: #8a8a8a;
                  font-size: 1.2vw;
                  font-weight: 300;
                  margin-top: -1.5vw;

                  span {
                    color: $text-color;
                    font-size: 2.3vw;
                    font-weight: 500;
                  }
                }

                .star-rating {
                  color: $primary-light;
                  padding: 5px;

                  .star {
                    padding: 0.1vw;
                  }
                }

                .total {
                  margin-top: 0.2vw;
                  font-size: 0.8vw;
                  font-weight: 400;
                  color: #8a8a8a;

                  span {
                    color: $text-color;
                  }
                }
              }

              // rating snapshot
              .rating-snapshot {
                width: 100%;
                padding: 1.5vw 1vw;

                .rating-row {
                  display: flex;
                  align-items: center;
                  margin-bottom: 0.5vw;

                  .star-label {
                    width: 2vw;
                    display: flex;
                    align-items: center;

                    p {
                      font-size: 1vw;
                      margin-top: -0.1vw;
                    }

                    .icon {
                      margin-left: 0.2vw;
                      font-size: 0.8vw;
                      color: $primary-light;
                    }
                  }

                  .rating-bar {
                    flex: 1;
                    height: 0.5vw;
                    background-color: #2a2a2a;
                    margin: 0 0.6vw;
                    position: relative;
                    border-radius: 50px;
                    cursor: pointer;

                    .rating-fill {
                      height: 100%;
                      background-color: $primary-light;
                      border-radius: 50px;
                      position: relative;
                      cursor: pointer;

                      .rating-count {
                        display: none;
                        position: absolute;
                        top: -1.7vw;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #333;
                        color: #fff;
                        padding: 2px 5px;
                        border-radius: 3px;
                        font-size: 12px;
                      }
                    }

                    &:hover .rating-count {
                      display: block;
                    }
                  }
                }
              }
            }

            // reviews product
            .reviews-product {
              width: 100%;
              padding: 0 1.5vw;

              .title {
                font-size: 1vw;
                font-family: $open-sans;
                font-weight: 500;
                color: $text-color;
                margin-top: 0vw;
              }

              .stars-field {
                width: 100%;
                margin-top: 0.5vw;
                display: flex;

                .star {
                  margin-top: 0.5vw;
                  width: 3vw;
                  aspect-ratio: 1 / 1;
                  background-color: transparent;
                  border: 1px solid $primary-light;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 0.5vw;
                  border-radius: 0.8vw;
                  transition: 0.5s;
                  cursor: pointer;

                  .icon {
                    font-size: 1.2vw;
                    color: white;
                  }

                  &.selected,
                  &.hovered {
                    background-color: $primary-light;
                  }
                }
              }

              .note {
                margin-top: 1.2vw;
                font-size: 0.9vw;
                width: fit-content;
                background-color: #2a2a2a;
                padding: 0.3vw 1vw;
                font-family: $open-sans;
                font-weight: 300;
                color: $text-color;
                border-radius: 50px;
              }
            }
          }
        }

        // user reviews
        .user-reviews {
          margin-top: 3vw;

          .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $open-sans;

            .title {
              font-size: 1.6vw;
              font-weight: 400;
              color: $text-color;
              text-transform: capitalize;
              display: flex;
              align-items: center;

              span {
                margin-left: 8px;
              }
            }

            .view-all-reviews {
              font-size: 1vw;
              font-weight: 300;
              color: #5a5a5a;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              transition: 0.5s;
              cursor: pointer;

              .icon {
                margin-left: 5px;
                margin-top: 1px;
              }

              &:hover {
                color: $text-color;
              }
            }
          }

          // all reviews
          .all-reviews {
            margin-top: 1vw;

            .review {
              margin-top: 0.8vw;
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;
              aspect-ratio: 1 / 0.4;
              background-color: #161616;
              border-radius: 1.5vw;
              padding: 0vw 2vw 2vw 2vw;

              .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1vw 0;
                border-bottom: 1px solid #2a2a2a;

                .title {
                  display: inline-block;
                  font-size: 1.1vw;
                  max-width: 200px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  cursor: pointer;
                  font-family: $open-sans;
                  font-weight: 500;
                  color: $text-color;

                  &:hover::after {
                    content: attr(title);
                    position: absolute;
                    left: 0;
                    top: 100%;
                    white-space: normal;
                    background-color: #fff;
                    color: #000;
                    padding: 5px;
                    border: 1px solid #ccc;
                    z-index: 10;
                    width: max-content;
                    max-width: none;
                  }
                }

                .datetime {
                  font-size: 0.9vw;
                  font-family: $open-sans;
                  font-weight: 300;
                  color: #8a8a8a;
                }
              }

              .content {
                .star-rating {
                  display: flex;
                  align-items: center;
                  margin-top: 1vw;

                  .star {
                    margin-right: 0.1vw;
                    display: flex;
                    align-items: center;
                    font-size: 1vw;
                    color: $primary-light;
                  }

                  .username {
                    margin-left: 0.5vw;
                    font-size: 0.8vw;
                    color: #8a8a8a;
                  }
                }

                .compose {
                  margin-top: 1vw;
                  font-size: 0.9vw;
                  overflow: hidden;
                  font-family: $open-sans;
                  font-weight: 300;
                  color: $text-color;
                }

                button {
                  background-color: $primary-light;
                  color: white;
                  border: none;
                  padding: 0.3vw 1.2vw;
                  font-family: $open-sans;
                  font-weight: 300;
                  font-size: 0.8vw;
                  cursor: pointer;
                  margin-top: 1vw;
                  border-radius: 50px;
                  transition: 0.5s;

                  &:hover {
                    background-color: $hover-color;
                  }
                }
              }
            }
          }
        }

        // related products
        .related-products {
          margin-top: 3vw;

          .title {
            font-size: 1.6vw;
            font-weight: 400;
            color: $text-color;
            text-transform: capitalize;
            display: flex;
            align-items: center;
          }

          .all-related-products {
            margin-top: 1vw;

            .product-item {
              margin-top: 0.8vw;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 10vw;
              background-color: #161616;
              border-radius: 1.5vw;
              padding: 0 0.5vw;
              overflow: hidden;

              .product-info {
                font-family: $open-sans;
                font-weight: 300;
                padding-right: 1vw;

                .header {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .name {
                    max-width: 80%;
                    font-size: 0.9vw;
                    font-weight: 500;
                    color: $text-color;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                      color: #8a8a8a;
                    }
                  }

                  .wishlist-btn {
                    font-size: 1.5vw;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                      color: #8a8a8a;
                    }
                  }
                }

                .price {
                  font-size: 1vw;
                  font-weight: 500;
                  margin-top: 0.5vw;

                  span {
                    font-weight: 300;
                    margin-right: 0.5vw;
                    color: #8a8a8a;
                  }
                }

                .button {
                  margin-top: 0.8vw;
                  display: flex;

                  .add-to-cart {
                    font-size: 0.7vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7vw;
                    height: 2.2vw;
                    background-color: transparent;
                    border: 1px solid #2a2a2a;
                    border-radius: 50px;
                    text-transform: uppercase;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                      background-color: #2a2a2a;
                      color: white;
                    }
                  }

                  .buy-now {
                    font-size: 0.7vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 7vw;
                    height: 2.2vw;
                    background-color: $primary-color;
                    border-radius: 50px;
                    margin-left: 0.5vw;
                    text-transform: uppercase;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                      background-color: $hover-color;
                    }
                  }
                }
              }

              .product-img {
                height: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
