@import "../common/root.scss";

.store-page {
  width: 100%;
  height: fit-content;
  position: relative;

  .text-information {
    position: relative;
    height: 80vh;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 15%,
      rgba(20, 20, 20, 0.55) 100%
    );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 100;
    overflow: hidden;

    span {
      position: relative;
      width: 100%;
      padding-left: 8.3vw;
      top: 58%;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 2.2vw;
      line-height: 30px;
      color: #ffffff;
      text-transform: uppercase;
    }

    .title {
      position: relative;
      top: 62%;
      padding-left: 8vw;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 7vw;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  // section 01
  .section-01 {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0px;
    background: #000000;
    background-image: none;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1;

    /* Product Showcase */

    .products_showcase {
      position: fixed;
      top: -9%;
      left: -10%;
      transform: translateX(-50%);
      width: 120%;
      height: fit-content;
      overflow: hidden;
      transform: rotate(-8deg);

      //   line showcase
      .line-showcase {
        position: relative;
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        //   item showcase
        .item_showcase {
          position: relative;
          width: 100%;
          aspect-ratio: 2 / 1.18;
          background-size: cover;
          border-radius: 20px;
          border: 5px solid #2a2a2a;
        }
      }

      //   line showcase 01
      .products_showcase_01 {
        // item 01
        .item_01 {
          background-image: url(../../assets/images/store-page/parallax_01.png);
        }
        // item 02
        .item_02 {
          background-image: url(../../assets/images/store-page/parallax_02.png);
        }
        // item 03
        .item_03 {
          background-image: url(../../assets/images/store-page/parallax_03.png);
        }
      }

      .products_showcase_02 {
        margin-top: 50px;

        .item_04 {
          background-image: url(../../assets/images/store-page/parallax_04.png);
        }

        .item_05 {
          background-image: url(../../assets/images/store-page/parallax_05.png);
        }

        .item_06 {
          background-image: url(../../assets/images/store-page/parallax_06.png);
        }
      }

      .products_showcase_03 {
        margin-top: 50px;

        .item_07 {
          background-image: url(../../assets/images/store-page/parallax_07.png);
        }

        .item_08 {
          background-image: url(../../assets/images/store-page/parallax_08.png);
        }

        .item_09 {
          background-image: url(../../assets/images/store-page/parallax_09.png);
        }
      }
    }
  }

  //   section 02
  .section-02 {
    position: relative;
    width: 100%;
    height: fit-content;
    background: #000000;
    padding: 80px 100px 120px 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    z-index: 1;

    //  product list
    .product-list {
      display: flex;
      flex-direction: column;

      //   sort wrapper
      .sort-wrapper {
        font-family: $open-sans;
        font-weight: 300;
        display: flex;
        font-size: 16px;
        align-items: center;
        margin-bottom: 40px;

        span {
          color: #5a5a5a;
          margin-right: 5px;
        }

        .sort {
          width: fit-content;
          color: #909090;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            color: #ffffff;
          }

          .icon {
            color: #c4c4c4;
            margin-left: 5px;
            transition: 0.5s;
          }

          &:hover .icon {
            color: #ffffff;
          }
        }
      }

      // product items
      .product-items {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px 40px;

        .product-card-wrapper {
          // product card
          .product-card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            aspect-ratio: 1 / 1.3;
            background-color: #101010;
            border-radius: 30px;
            cursor: pointer;
            overflow: hidden;

            &:hover {
              .add-to-cart {
                bottom: 6%;
              }
            }

            // header
            .header-wrapper {
              width: 100%;
              height: 15%;
              padding: 0 30px;
              display: flex;
              align-items: end;
              justify-content: space-between;

              //   logo
              .logo {
                width: 45%;

                img {
                  width: 100%;
                  object-fit: cover;
                }
              }

              //   wishlist button
              .wishlist-btn {
                aspect-ratio: 1 / 1;
                height: 55%;
                outline: none;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                  .icon {
                    color: #6a6a6a;
                  }
                }

                .icon {
                  width: 100%;
                  height: 100%;
                  color: #c4c4c4;
                  transition: 0.5s;
                }
              }
            }

            // product image
            .product-image {
              margin-top: 15px;
              width: 90%;
              aspect-ratio: 1 / 0.8;

              img {
                width: 100%;
              }
            }

            .add-to-cart {
              position: absolute;
              bottom: -20%;
              margin-top: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 70%;
              aspect-ratio: 3.2 / 1;
              outline: none;
              border: none;
              font-size: 14px;
              font-family: $open-sans;
              font-weight: 300;
              color: $text-color;
              text-transform: uppercase;
              background-color: #1a1a1a;
              border-radius: 50px;
              transition: 0.5s;
              cursor: pointer;

              &:hover {
                background-color: #2a2a2a;
              }
            }
          }

          //   product information
          .product-information {
            margin-top: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $open-sans;

            .product-name {
              width: fit-content;
              text-align: center;
              font-size: 16px;
              font-weight: 300;
              line-height: 26px;
              color: #e2e2e2;
              text-decoration: none;
              transition: 0.5s;

              &:hover {
                color: #6a6a6a;
              }
            }

            .product-price {
              margin-top: 10px;
              font-size: 16px;
              font-weight: 400;
              color: $text-color;
            }
          }
        }
      }

      // load more button
      .load-more-btn {
        position: relative;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        aspect-ratio: 2 / 0.65;
        background: $primary-color;
        border: none;
        outline: none;
        border-radius: 50px;
        color: $text-color;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }
    }

    //  product filter
    .product-filter {
      position: relative;
      padding-top: 30px;
      width: 100%;
      height: 100%;

      // categories
      .categories {
        // categories title
        .title {
          font-family: $open-sans;
          font-weight: 500;
          font-size: 35px;
          color: #ffffff;
          margin: 20px 0;
        }
        // filter list categories
        .filter-list {
          margin-top: 40px;

          .filter-item {
            width: 100%;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 25px;
            color: #8a8a8a;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            p {
              transition: 0.5s;
            }

            &:hover p {
              color: $primary-color;
            }
          }
        }
      }

      // filter by
      .filter-by {
        margin-top: 50px;

        // filter by title
        .title {
          font-family: $open-sans;
          font-weight: 400;
          font-size: 35px;
          color: #ffffff;
          margin: 10px 0;
        }

        // price range
        .price-range {
          display: flex;
          flex-direction: column;
          width: 100%;

          .sub-title {
            font-family: $open-sans;
            font-weight: 400;
            font-size: 18px;
            margin: 30px 0;
          }

          .slider {
            width: 100%;
            margin: 10px 0px;
          }

          .price-change {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }

          .numb-min,
          .numb-max {
            margin-top: 30px;
            display: flex;
            align-items: center;

            .dollar {
              font-family: $open-sans;
              font-weight: 400;
              font-size: 16px;
              color: #ffffff;
              margin-right: 2px;
            }
          }

          .input-min,
          .input-max {
            width: 60px;
            font-family: $open-sans;
            font-weight: 400;
            font-size: 16px;
            background: none;
            color: $text-color;
            border: none;
            outline: none;
          }

          .input-max {
            margin-right: -25px;
          }
        }

        // filter list categories
        .filter-list {
          margin-top: 40px;

          .filter-item {
            width: 100%;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 25px;
            display: flex;
            justify-content: space-between;
            color: #8a8a8a;
            transition: 0.5s;
            cursor: pointer;

            p {
              transition: 0.5s;
            }

            &:hover p {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
