@import "../common/root.scss";

.store-page {
  width: 100%;
  height: fit-content;
  position: relative;

  .text-information {
    position: relative;
    height: 80vh;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 15%,
      rgba(20, 20, 20, 0.55) 100%
    );
    backdrop-filter: blur(0.6rem);
    -webkit-backdrop-filter: blur(0.6rem);
    z-index: 100;
    overflow: hidden;

    span {
      position: relative;
      width: 100%;
      padding-left: 3.7rem;
      top: 58%;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-size: 0.6rem;
      line-height: 1.5rem;
      color: #ffffff;
      text-transform: uppercase;
    }

    .title {
      position: relative;
      top: 62%;
      padding-left: 3.5rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 2.5rem;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  // section 01
  .section-01 {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    background: #000000;
    background-image: none;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1;

    /* Product Showcase */

    .products_showcase {
      position: fixed;
      top: -9%;
      left: -10%;
      transform: translateX(-50%);
      width: 120%;
      height: fit-content;
      overflow: hidden;
      transform: rotate(-8deg);

      //   line showcase
      .line-showcase {
        position: relative;
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

        //   item showcase
        .item_showcase {
          position: relative;
          width: 100%;
          aspect-ratio: 2 / 1.18;
          background-size: cover;
          border-radius: 0.6rem;
          border: 0.15rem solid #2a2a2a;
        }
      }

      //   line showcase 01
      .products_showcase_01 {
        // item 01
        .item_01 {
          background-image: url(../../assets/images/store-page/parallax_01.png);
        }
        // item 02
        .item_02 {
          background-image: url(../../assets/images/store-page/parallax_02.png);
        }
        // item 03
        .item_03 {
          background-image: url(../../assets/images/store-page/parallax_03.png);
        }
      }

      .products_showcase_02 {
        margin-top: 1.5rem;

        .item_04 {
          background-image: url(../../assets/images/store-page/parallax_04.png);
        }

        .item_05 {
          background-image: url(../../assets/images/store-page/parallax_05.png);
        }

        .item_06 {
          background-image: url(../../assets/images/store-page/parallax_06.png);
        }
      }

      .products_showcase_03 {
        margin-top: 1.5rem;

        .item_07 {
          background-image: url(../../assets/images/store-page/parallax_07.png);
        }

        .item_08 {
          background-image: url(../../assets/images/store-page/parallax_08.png);
        }

        .item_09 {
          background-image: url(../../assets/images/store-page/parallax_09.png);
        }
      }
    }
  }

  // 1240px section 01
  @media screen and (max-width: 1240px) {
    .section-01 {
      height: 100vh;

      .products_showcase {
        top: 0;

        .line-showcase {
          gap: 1rem;

          .item_showcase {
            aspect-ratio: 2 / 1.2;
          }
        }
      }
    }
  }

  // 1024px section 01
  @media screen and (max-width: 1024px) {
    // text information
    .text-information {
      height: 80vh;

      span {
        padding-left: 3rem;
        top: 58%;
        font-size: 0.6rem;
        line-height: 1.5rem;
      }

      .title {
        top: 62%;
        padding-left: 2.9rem;
        font-size: 2.5rem;
      }
    }

    // section 01
    .section-01 {
      height: 100vh;

      .products_showcase {
        top: 3%;
        left: -20%;
        width: 140%;

        .line-showcase {
          gap: 1.5rem;

          .item_showcase {
            aspect-ratio: 2 / 1.2;
          }
        }
      }
    }
  }

  // 820px section 01
  @media screen and (max-width: 820px) {
    // text information
    .text-information {
      height: 75vh;

      span {
        padding-left: 2.5rem;
        top: 58%;
        font-size: 0.6rem;
        line-height: 1.5rem;
      }

      .title {
        top: 62%;
        padding-left: 2.4rem;
        font-size: 2.3rem;
      }
    }

    // section 01
    .section-01 {
      height: 90vh;

      .products_showcase {
        top: 3%;
        left: -35%;
        width: 170%;

        .line-showcase {
          gap: 1.8rem;

          .item_showcase {
            aspect-ratio: 2 / 1.2;
          }
        }
      }
    }
  }

  // 768px section 01
  @media screen and (max-width: 768px) {
    // text information
    .text-information {
      height: 70vh;

      span {
        padding-left: 2.2rem;
        top: 58%;
        font-size: 0.6rem;
        line-height: 1.5rem;
      }

      .title {
        top: 62%;
        padding-left: 2.1rem;
        font-size: 2.2rem;
      }
    }

    .section-01 {
      height: 80vh;

      .products_showcase {
        top: 3%;
        left: -30%;
        width: 160%;

        .line-showcase {
          gap: 1.5rem;

          .item_showcase {
            aspect-ratio: 2 / 1.2;
          }
        }
      }
    }
  }

  // 640px section 01
  @media screen and (max-width: 640px) {
    // text information
    .text-information {
      height: 70vh;

      span {
        padding-left: 2.6rem;
        top: 58%;
        font-size: 0.68rem;
        line-height: 1.5rem;
      }

      .title {
        top: 62%;
        padding-left: 2.5rem;
        font-size: 2.8rem;
        line-height: 3.5rem;
        max-width: 90%;
      }
    }
  }

  // 576px section 01
  @media screen and (max-width: 576px) {
    // text information
    .text-information {
      height: 70vh;

      span {
        padding-left: 2.6rem;
        top: 58%;
        font-size: 0.62rem;
        line-height: 1.5rem;
      }

      .title {
        top: 62%;
        padding-left: 2.5rem;
        font-size: 2.6rem;
        line-height: 3.5rem;
        max-width: 90%;
      }
    }
    // section 01
    .section-01 {
      .products_showcase {
        top: 10%;
        left: -45%;
        width: 190%;

        .line-showcase {
          gap: 1.8rem;

          .item_showcase {
            aspect-ratio: 2 / 1.2;
          }
        }
      }
    }
  }

  // 480px section 01
  @media screen and (max-width: 480px) {
    // text information
    .text-information {
      height: 70vh;

      span {
        padding-left: 2.4rem;
        top: 58%;
        font-size: 0.6rem;
        line-height: 1.5rem;
      }

      .title {
        top: 62%;
        padding-left: 2.3rem;
      }
    }

    // section 01
    .section-01 {
      height: 50vh;

      .products_showcase {
        top: 10%;
        left: -50%;
        width: 200%;

        .line-showcase {
          gap: 1.8rem;

          .item_showcase {
            aspect-ratio: 2 / 1.2;
          }
        }
      }
    }
  }

  // 425px section 01
  @media screen and (max-width: 425px) {
    // text information
    .text-information {
      height: 65vh;

      span {
        padding-left: 2.1rem;
        top: 58%;
        font-size: 0.55rem;
        line-height: 1.5rem;
      }

      .title {
        top: 62%;
        font-size: 2.3rem;
        line-height: 3.2rem;
        padding-left: 2rem;
      }
    }
  }

  // 375px section 01
  @media screen and (max-width: 375px) {
    // text information
    .text-information {
      span {
        padding-left: 1.6rem;
        line-height: 1.5rem;
        font-size: 0.52rem;
      }

      .title {
        top: 62%;
        font-size: 2.2rem;
        line-height: 3rem;
        padding-left: 1.5rem;
      }
    }
  }

  //   section 02
  .section-02 {
    position: relative;
    width: 100%;
    height: fit-content;
    background: #000000;
    padding: 2rem 3.5rem 3.7rem 3.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
    z-index: 1;

    //  product list
    .product-list {
      display: flex;
      flex-direction: column;

      // header wrapper
      .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2rem;
        //   sort wrapper
        .sort-wrapper {
          font-family: $open-sans;
          font-weight: 300;
          display: flex;
          font-size: 0.5rem;
          align-items: center;

          span {
            color: #5a5a5a;
            margin-right: 0.15rem;
          }

          .sort {
            width: fit-content;
            color: #909090;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              color: #ffffff;
            }

            .icon {
              color: #c4c4c4;
              margin-left: 0.15rem;
              transition: 0.5s;
            }

            &:hover .icon {
              color: #ffffff;
            }
          }
        }

        // filter toggle button
        .filter-toggle-btn {
          width: 3.6rem;
          height: 1.4rem;
          background: none;
          font-family: $open-sans;
          font-weight: 300;
          font-size: 0.6rem;
          border: 0.08rem solid #2a2a2a;
          outline: none;
          color: #ffffff;
          border-radius: 0.2rem;
          display: none;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
          cursor: pointer;

          .icon {
            font-size: 0.8rem;
            margin-right: 0.2rem;
          }

          &:hover {
            background-color: #2a2a2a;
          }
        }
      }

      // product items
      .product-items {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;

        .product-card-wrapper {
          // product card
          .product-card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            aspect-ratio: 1 / 1.3;
            background-color: #101010;
            border-radius: 0.8rem;
            cursor: pointer;
            overflow: hidden;

            &:hover {
              .add-to-cart {
                bottom: 6%;
              }
            }

            // header
            .header-wrapper {
              width: 100%;
              height: 15%;
              padding: 0 0.8rem;
              display: flex;
              align-items: end;
              justify-content: space-between;

              //   logo
              .logo {
                width: 45%;

                img {
                  width: 100%;
                  object-fit: cover;
                }
              }

              //   wishlist button
              .wishlist-btn {
                aspect-ratio: 1 / 1;
                height: 55%;
                outline: none;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                  .icon {
                    color: #6a6a6a;
                  }
                }

                .icon {
                  width: 100%;
                  height: 100%;
                  color: #c4c4c4;
                  transition: 0.5s;
                }
              }
            }

            // product image
            .product-image {
              margin-top: 0.5rem;
              width: 90%;
              aspect-ratio: 1 / 0.8;

              img {
                width: 100%;
              }
            }

            .add-to-cart {
              position: absolute;
              bottom: -20%;
              margin-top: 0.2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 70%;
              aspect-ratio: 3.2 / 1;
              outline: none;
              border: none;
              font-size: 0.4rem;
              font-family: $open-sans;
              font-weight: 300;
              color: $text-color;
              text-transform: uppercase;
              background-color: #1a1a1a;
              border-radius: 2rem;
              transition: 0.5s;
              cursor: pointer;

              &:hover {
                background-color: #2a2a2a;
              }
            }
          }

          //   product information
          .product-information {
            margin-top: 0.6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $open-sans;

            .product-name {
              width: fit-content;
              text-align: center;
              font-size: 0.45rem;
              font-weight: 300;
              line-height: 0.75rem;
              color: #e2e2e2;
              text-decoration: none;
              transition: 0.5s;

              &:hover {
                color: #6a6a6a;
              }
            }

            .product-price {
              margin-top: 0.3rem;
              font-size: 0.5rem;
              font-weight: 400;
              color: $text-color;
            }
          }
        }
      }

      // 1240px product items
      @media screen and (max-width: 1240px) {
        // header wrapper
        .heading {
          margin-bottom: 1rem;
          // sort wrapper
          .sort-wrapper {
            font-size: 0.55rem;
          }
        }

        .product-items {
          grid-template-columns: auto auto;
          gap: 1.5rem;

          .product-card-wrapper {
            // product card
            .product-card {
              aspect-ratio: 1 / 1.3;

              .header-wrapper {
                padding: 0 1rem;

                .logo {
                  width: 45%;
                }
              }

              .add-to-cart {
                width: 70%;
                aspect-ratio: 3.2 / 1;
                font-size: 0.45rem;
                border-radius: 2rem;

                &:hover {
                  background-color: #2a2a2a;
                }
              }
            }

            //   product information
            .product-information {
              margin-top: 0.8rem;

              .product-name {
                font-size: 0.55rem;
                line-height: 1rem;
              }

              .product-price {
                margin-top: 0.3rem;
                font-size: 0.6rem;
              }
            }
          }
        }
      }

      // 1024px product items
      @media screen and (max-width: 1024px) {
        .product-items {
          grid-template-columns: auto auto;
          gap: 1.5rem;

          .product-card-wrapper {
            // product card
            .product-card {
              aspect-ratio: 1 / 1.3;

              .header-wrapper {
                padding: 0 1rem;

                .logo {
                  width: 45%;
                }
              }
            }

            //   product information
            .product-information {
              margin-top: 0.7rem;

              .product-name {
                font-size: 0.52rem;
                line-height: 1rem;
              }

              .product-price {
                margin-top: 0.3rem;
                font-size: 0.55rem;
              }
            }
          }
        }
      }

      // 820px product items
      @media screen and (max-width: 820px) {
        .product-items {
          grid-template-columns: auto auto;
          gap: 1rem;

          .product-card-wrapper {
            // product card
            .product-card {
              aspect-ratio: 1 / 1.3;

              .header-wrapper {
                padding: 0 0.8rem;

                .logo {
                  width: 45%;
                }
              }
            }

            //   product information
            .product-information {
              margin-top: 0.7rem;

              .product-name {
                font-size: 0.55rem;
                line-height: 1.1rem;
              }

              .product-price {
                margin-top: 0.3rem;
                font-size: 0.5rem;
              }
            }
          }
        }
      }

      // 640px product items
      @media screen and (max-width: 640px) {
        // header wrapper
        .heading {
          // sort wrapper
          .sort-wrapper {
            font-size: 0.6rem;
          }
          // filter toggle button
          .filter-toggle-btn {
            font-size: 0.6rem;
            display: flex;
          }
        }

        // product-items
        .product-items {
          grid-template-columns: auto auto;
          gap: 1.5rem;

          .product-card-wrapper {
            // product card
            .product-card {
              aspect-ratio: 1 / 1.3;

              .header-wrapper {
                padding: 0 1rem;

                .logo {
                  width: 45%;
                }
              }

              .add-to-cart {
                width: 70%;
                aspect-ratio: 3.2 / 1;
                font-size: 0.5rem;
                border-radius: 2rem;

                &:hover {
                  background-color: #2a2a2a;
                }
              }
            }

            //   product information
            .product-information {
              margin-top: 0.8rem;

              .product-name {
                font-size: 0.65rem;
                line-height: 1rem;
              }

              .product-price {
                margin-top: 0.3rem;
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      // 576px product items
      @media screen and (max-width: 576px) {
        // header wrapper
        .heading {
          // sort wrapper
          .sort-wrapper {
            font-size: 0.6rem;
          }
          // filter toggle button
          .filter-toggle-btn {
            font-size: 0.6rem;
          }
        }

        .product-filter {
          padding: 1rem;

          &.show {
            right: 0;
          }
        }

        // product-items
        .product-items {
          grid-template-columns: auto auto;
          gap: 1.5rem;

          .product-card-wrapper {
            // product card
            .product-card {
              .header-wrapper {
                padding: 0 1rem;

                .logo {
                  width: 45%;
                }
              }

              .add-to-cart {
                width: 70%;
                aspect-ratio: 3.2 / 1;
                font-size: 0.5rem;
                border-radius: 2rem;

                &:hover {
                  background-color: #2a2a2a;
                }
              }
            }

            //   product information
            .product-information {
              margin-top: 0.8rem;

              .product-name {
                font-size: 0.6rem;
                line-height: 1rem;
              }

              .product-price {
                margin-top: 0.3rem;
                font-size: 0.65rem;
              }
            }
          }
        }
      }

      // 480px product items
      @media screen and (max-width: 480px) {
        // header wrapper
        .heading {
          // sort wrapper
          .sort-wrapper {
            font-size: 0.6rem;
          }
          // filter toggle button
          .filter-toggle-btn {
            font-size: 0.55rem;

            .icon {
              font-size: 0.75rem;
              margin-right: 0.2rem;
            }
          }
        }

        .product-filter {
          padding: 1rem;

          &.show {
            right: 0;
          }
        }

        // product-items
        .product-items {
          grid-template-columns: auto auto;
          gap: 1.2rem;

          .product-card-wrapper {
            // product card
            .product-card {
              .add-to-cart {
                font-size: 0.5rem;
              }
            }

            //   product information
            .product-information {
              margin-top: 0.8rem;

              .product-name {
                font-size: 0.55rem;
                line-height: 1rem;
              }

              .product-price {
                margin-top: 0.3rem;
                font-size: 0.6rem;
              }
            }
          }
        }
      }

      // 425px product items
      @media screen and (max-width: 425px) {
        // header wrapper
        .heading {
          // sort wrapper
          .sort-wrapper {
            font-size: 0.55rem;
          }
        }

        .product-filter {
          padding: 1rem;

          &.show {
            right: 0;
          }
        }

        // product-items
        .product-items {
          grid-template-columns: auto auto;
          gap: 1rem;

          .product-card-wrapper {
            // product card
            .product-card {
              .add-to-cart {
                font-size: 0.45rem;
              }
            }

            //   product information
            .product-information {
              margin-top: 0.8rem;

              .product-name {
                font-size: 0.55rem;
                line-height: 1rem;
              }

              .product-price {
                margin-top: 0.3rem;
                font-size: 0.6rem;
              }
            }
          }
        }
      }

      // 320px product items
      @media screen and (max-width: 320px) {
        // header wrapper
        .heading {
          margin-bottom: 2rem;
          // sort wrapper
          .sort-wrapper {
            font-size: 0.65rem;
          }
          // filter toggle button
          .filter-toggle-btn {
            width: 4rem;
            height: 1.5rem;
            font-size: 0.65rem;

            .icon {
              font-size: 0.85rem;
              margin-right: 0.2rem;
            }
          }
        }

        .product-filter {
          padding: 1rem;

          &.show {
            right: 0;
          }
        }

        // product-items
        .product-items {
          grid-template-columns: auto;
          gap: 2.5rem;

          .product-card-wrapper {
            // product card
            .product-card {
              .add-to-cart {
                font-size: 0.65rem;
              }
            }

            //   product information
            .product-information {
              margin-top: 0.8rem;

              .product-name {
                font-size: 0.75rem;
                line-height: 1.2rem;
              }

              .product-price {
                margin-top: 0.5rem;
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      // load more button
      .load-more-btn {
        position: relative;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        aspect-ratio: 2 / 0.65;
        background: $primary-color;
        border: none;
        outline: none;
        border-radius: 1rem;
        color: $text-color;
        font-family: $open-sans;
        font-weight: 300;
        font-size: 0.4rem;
        text-transform: uppercase;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }

      @media screen and (max-width: 1240px) {
        .load-more-btn {
          width: 4.5rem;
          aspect-ratio: 2 / 0.65;
          font-size: 0.4rem;
        }
      }

      @media screen and (max-width: 768px) {
        .load-more-btn {
          width: 5rem;
          aspect-ratio: 2 / 0.65;
          font-size: 0.45rem;
        }
      }

      @media screen and (max-width: 576px) {
        .load-more-btn {
          width: 5.5rem;
          aspect-ratio: 2 / 0.65;
          font-size: 0.45rem;
        }
      }

      @media screen and (max-width: 375px) {
        .load-more-btn {
          width: 6rem;
          aspect-ratio: 2 / 0.65;
          font-size: 0.5rem;
        }
      }
    }

    // filter overlay
    .filter-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      transition: 0.5s;
      z-index: 999;

      &.show {
        display: block;
      }
    }

    //  product filter
    .product-filter {
      position: relative;
      padding: 1.6rem 0rem;
      width: 100%;
      height: calc(100vh - 4.5rem);
      transition: transform 0.3s ease;
      border-radius: 2rem;
      z-index: 10000;

      // filter content
      .filter-content {
        // categories
        .categories {
          // heading
          .heading {
            // categories title
            .title {
              font-family: $open-sans;
              font-weight: 500;
              font-size: 1rem;
              color: #ffffff;
            }
            // filter close button
            .filter-close-btn {
              position: absolute;
              top: 1.5rem;
              right: 1.5rem;
              width: 1.8rem;
              height: 1.8rem;
              color: #ffffff;
              background: none;
              border: none;
              outline: none;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              transition: 0.5s;
              cursor: pointer;
              display: none;

              .icon {
                font-size: 0.9rem;
              }

              &:hover {
                color: #000;
                background-color: #ffffff;
              }
            }
          }

          // filter list categories
          .filter-list {
            margin-top: 1rem;

            .filter-item {
              width: 100%;
              font-size: 0.55rem;
              font-weight: 300;
              margin-bottom: 0.75rem;
              color: #8a8a8a;
              display: flex;
              justify-content: space-between;
              cursor: pointer;

              p {
                transition: 0.5s;
              }

              &:hover p {
                color: $primary-color;
              }
            }
          }
        }

        // filter by
        .filter-by {
          margin-top: 1.5rem;

          // filter by title
          .title {
            font-family: $open-sans;
            font-weight: 400;
            font-size: 1rem;
            color: #ffffff;
            margin: 0.3rem 0;
          }

          // price range
          .price-range {
            display: flex;
            flex-direction: column;
            width: 100%;

            .sub-title {
              font-family: $open-sans;
              font-weight: 400;
              font-size: 0.55rem;
              margin: 0.8rem 0;
            }

            .slider {
              width: 100%;
              margin: 0.3rem 0;
            }

            .price-change {
              display: flex;
              justify-content: space-between;
              width: 100%;
            }

            .numb-min,
            .numb-max {
              margin-top: 0.8rem;
              display: flex;
              align-items: center;

              .dollar {
                font-family: $open-sans;
                font-weight: 400;
                font-size: 0.5rem;
                color: #ffffff;
                margin-right: 0.1rem;
              }
            }

            .input-min,
            .input-max {
              width: 1.8rem;
              font-family: $open-sans;
              font-weight: 400;
              font-size: 0.5rem;
              background: none;
              color: $text-color;
              border: none;
              outline: none;
            }

            .input-max {
              margin-right: -0.7rem;
            }
          }

          // filter list categories
          .filter-list {
            margin-top: 1.2rem;

            .filter-item {
              width: 100%;
              font-size: 0.55rem;
              font-weight: 300;
              margin-bottom: 0.75rem;
              display: flex;
              justify-content: space-between;
              color: #8a8a8a;
              transition: 0.5s;
              cursor: pointer;

              p {
                transition: 0.5s;
              }

              &:hover p {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  // 1240px section 02
  @media screen and (max-width: 1240px) {
    .section-02 {
      padding: 2rem 4rem 3.7rem 4rem;
      grid-template-columns: 2.5fr 1.1fr;
      gap: 1.5rem;
    }
  }

  // 1024px section 02
  @media screen and (max-width: 1024px) {
    .section-02 {
      padding: 2rem 3rem 3.7rem 3rem;
      grid-template-columns: 2.5fr 1.1fr;
      gap: 1.5rem;
    }
  }
  // 820px section 02
  @media screen and (max-width: 820px) {
    .section-02 {
      padding: 2rem 2rem 3.7rem 2rem;
      grid-template-columns: 2.5fr 1.1fr;
      gap: 1.2rem;
    }
  }

  // 768px section 02
  @media screen and (max-width: 768px) {
    .section-02 {
      padding: 2rem 1.5rem 3.7rem 1.5rem;
      grid-template-columns: 2.5fr 1.2fr;
      gap: 1rem;
    }
  }

  // 640px section 02
  @media screen and (max-width: 640px) {
    .section-02 {
      padding: 2rem 3rem 3.7rem 3rem;
      grid-template-columns: 1fr;

      .product-filter {
        position: fixed;
        top: 4.5rem;
        right: -100%;
        height: calc(100vh - 4.5rem); // Change to viewport height
        width: 50%;
        background: #101010;
        z-index: 1000;
        overflow-y: scroll; // Change to scroll
        overscroll-behavior: contain; // Prevent body scroll
        -webkit-overflow-scrolling: touch;
        transition: right 0.3s ease;
        border-radius: 1.5rem;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: #2a2a2a;
          border-radius: 5px;
        }

        &.show {
          right: 0;
        }

        .filter-content {
          height: 100%;
          padding: 0rem 1.8rem;
          overflow-y: auto;
          overscroll-behavior: contain;
          -webkit-overflow-scrolling: touch;

          // categories
          .categories {
            // heading
            .heading {
              display: flex;
              align-items: center;
              justify-content: space-between;
              // categories title
              .title {
                font-size: 1.2rem;
              }
              // filter close button
              .filter-close-btn {
                display: flex;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }

          // filter by
          .filter-by {
            margin-top: 1.5rem;

            // filter by title
            .title {
              font-size: 1.2rem;
              margin: 0.3rem 0;
            }

            // price range
            .price-range {
              .sub-title {
                font-size: 0.65rem;
                margin: 0.8rem 0;
              }

              .numb-min,
              .numb-max {
                margin-top: 0.8rem;

                .dollar {
                  font-size: 0.65rem;
                  margin-right: 0.1rem;
                }
              }

              .input-min,
              .input-max {
                width: 2.2rem;
                font-size: 0.65rem;
              }

              .input-max {
                margin-right: -0.7rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1.2rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  // 576px section 02
  @media screen and (max-width: 576px) {
    .section-02 {
      padding: 2rem 2.5rem 3.7rem 2.5rem;
      grid-template-columns: 1fr;

      .product-filter {
        height: calc(100vh - 4.5rem); // Change to viewport height
        width: 55%;
        border-radius: 1.5rem;

        .filter-content {
          height: 100%;
          padding: 0rem 1.7rem;

          // categories
          .categories {
            // heading
            .heading {
              // categories title
              .title {
                font-size: 1.2rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }

          // filter by
          .filter-by {
            margin-top: 1.5rem;

            // filter by title
            .title {
              font-size: 1.2rem;
              margin: 0.3rem 0;
            }

            // price range
            .price-range {
              .sub-title {
                font-size: 0.65rem;
                margin: 0.8rem 0;
              }

              .numb-min,
              .numb-max {
                margin-top: 0.8rem;

                .dollar {
                  font-size: 0.65rem;
                  margin-right: 0.1rem;
                }
              }

              .input-min,
              .input-max {
                width: 2.3rem;
                font-size: 0.65rem;
              }

              .input-max {
                margin-right: -0.8rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1.2rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  // 480px section 02
  @media screen and (max-width: 480px) {
    .section-02 {
      padding: 1.8rem 2rem 3.7rem 2rem;
      grid-template-columns: 1fr;

      .product-filter {
        height: calc(100vh - 4.5rem); // Change to viewport height
        width: 60%;
        border-radius: 1.5rem;

        .filter-content {
          height: 100%;
          padding: 0rem 1.7rem;

          // categories
          .categories {
            // heading
            .heading {
              // categories title
              .title {
                font-size: 1.2rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }

          // filter by
          .filter-by {
            margin-top: 1.5rem;

            // filter by title
            .title {
              font-size: 1.2rem;
              margin: 0.3rem 0;
            }

            // price range
            .price-range {
              .sub-title {
                font-size: 0.65rem;
                margin: 0.8rem 0;
              }

              .numb-min,
              .numb-max {
                margin-top: 0.8rem;

                .dollar {
                  font-size: 0.65rem;
                  margin-right: 0.1rem;
                }
              }

              .input-min,
              .input-max {
                width: 2.3rem;
                font-size: 0.65rem;
              }

              .input-max {
                margin-right: -0.8rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1.2rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  // 425px section 02
  @media screen and (max-width: 425px) {
    .section-02 {
      padding: 1.5rem 1.5rem 3.7rem 1.5rem;
      grid-template-columns: 1fr;

      .product-filter {
        height: calc(100vh - 4.5rem); // Change to viewport height
        width: 65%;
        border-radius: 1.5rem;

        .filter-content {
          height: 100%;
          padding: 0rem 1.7rem;

          // categories
          .categories {
            // heading
            .heading {
              // categories title
              .title {
                font-size: 1.2rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }

          // filter by
          .filter-by {
            margin-top: 1.5rem;

            // filter by title
            .title {
              font-size: 1.2rem;
              margin: 0.3rem 0;
            }

            // price range
            .price-range {
              .sub-title {
                font-size: 0.65rem;
                margin: 0.8rem 0;
              }

              .numb-min,
              .numb-max {
                margin-top: 0.8rem;

                .dollar {
                  font-size: 0.65rem;
                  margin-right: 0.1rem;
                }
              }

              .input-min,
              .input-max {
                width: 2.3rem;
                font-size: 0.65rem;
              }

              .input-max {
                margin-right: -0.8rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1.2rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  // 375px section 02
  @media screen and (max-width: 375px) {
    .section-02 {
      padding: 1.2rem 1.2rem 3.7rem 1.2rem;
      grid-template-columns: 1fr;

      .product-filter {
        height: calc(100vh - 4.5rem); // Change to viewport height
        width: 70%;
        border-radius: 1.5rem;

        .filter-content {
          height: 100%;
          padding: 0rem 1.7rem;

          // categories
          .categories {
            // heading
            .heading {
              // categories title
              .title {
                font-size: 1.2rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }

          // filter by
          .filter-by {
            margin-top: 1.5rem;

            // filter by title
            .title {
              font-size: 1.2rem;
              margin: 0.3rem 0;
            }

            // price range
            .price-range {
              .sub-title {
                font-size: 0.65rem;
                margin: 0.8rem 0;
              }

              .numb-min,
              .numb-max {
                margin-top: 0.8rem;

                .dollar {
                  font-size: 0.65rem;
                  margin-right: 0.1rem;
                }
              }

              .input-min,
              .input-max {
                width: 2.4rem;
                font-size: 0.65rem;
              }

              .input-max {
                margin-right: -0.8rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1.2rem;

              .filter-item {
                font-size: 0.65rem;
                margin-bottom: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  // 320px section 02
  @media screen and (max-width: 320px) {
    .section-02 {
      padding: 2rem 2.5rem 3.7rem 2.5rem;
      grid-template-columns: 1fr;

      .product-filter {
        height: calc(100vh - 4.5rem); // Change to viewport height
        width: 100%;
        border-radius: 1.5rem;

        .filter-content {
          height: 100%;
          padding: 0.2rem 2rem;

          // categories
          .categories {
            // heading
            .heading {
              // categories title
              .title {
                font-size: 1.4rem;
              }
              // filter close button
              .filter-close-btn {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;

                .icon {
                  font-size: 1.2rem;
                }
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1.3rem;

              .filter-item {
                font-size: 0.8rem;
                margin-bottom: 0.85rem;
              }
            }
          }

          // filter by
          .filter-by {
            margin-top: 1.5rem;

            // filter by title
            .title {
              font-size: 1.4rem;
              margin: 0rem 0;
            }

            // price range
            .price-range {
              .sub-title {
                font-size: 0.8rem;
                margin: 1rem 0;
              }

              .numb-min,
              .numb-max {
                margin-top: 0.8rem;

                .dollar {
                  font-size: 0.8rem;
                  margin-right: 0.1rem;
                }
              }

              .input-min,
              .input-max {
                width: 2.8rem;
                font-size: 0.8rem;
              }

              .input-max {
                margin-right: -0.8rem;
              }
            }

            // filter list categories
            .filter-list {
              margin-top: 1.5rem;

              .filter-item {
                font-size: 0.8rem;
                margin-bottom: 0.85rem;
              }
            }
          }
        }
      }
    }
  }
}
