@import "../../styles/common/root.scss";

.quantity {
  .title {
    font-size: 1rem;
    font-family: $open-sans;
    font-weight: 500;
    color: $text-color;
  }

  .quantity-btn {
    margin-top: 0.4rem;
    font-size: 0.6rem;
    font-family: $open-sans;
    font-weight: 500;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .minus,
    .plus {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 0.7rem;
      color: #8a8a8a;
    }
  }
}
