@import "../../styles/common/root.scss";

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-tooltip .label {
  margin: 0;
}
