@import "../../styles/common/root.scss";

.customers-container {
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 1vw;
  display: grid;
  grid-template-rows: 1fr 4.5fr;
  gap: 1.5vw;

  .header-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2.2fr;
    gap: 1.5vw;

    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 0.45rem;
        font-family: $open-sans;
        font-weight: 600;
      }

      .icon {
        width: 36px;
        height: 36px;
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgba(#37373f, 0.4);
      }
    }

    .area {
      position: relative;
      font-size: 0.5rem;
      width: 100%;
      height: 100%;
      padding: 0.7vw 1vw 0.7vw 1.4vw;
      background-color: #161616;
      border-radius: 0.3rem;
      overflow: hidden;

      &:nth-child(1) {
        background-color: $secondary-color;
        color: #2a2a2a;

        .icon {
          color: #fff;
          background-color: rgba(#37373f, 0.4);
        }

        .value {
          .number {
            color: #2a2a2a;
          }
        }
      }

      .value {
        position: absolute;
        bottom: 0.8vw;
        font-family: $inter;

        .number {
          font-size: 1.2rem;
          font-weight: 600;
          color: #fff;
        }
      }
    }

    // vip members
    .vip-members {
      .heading {
        margin-top: 0.7vw;
      }

      .value {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.7rem;

        .list-vip-members {
          position: absolute;
          right: 3vw;
          display: flex;
          transition: 0.5s;
          cursor: pointer;

          &:hover {
            opacity: 0.6;
          }

          img {
            border: 1px solid #161616;
          }

          .more-vip-members {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #2a2a2a;
          }
        }
      }
    }
  }

  // table container
  .tbl-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    background-color: #161616;
    border-radius: 0.3rem;
    padding: 0 2vw;

    .header-wrapper {
      display: flex;
      align-items: center;

      // toolbar
      .toolbar {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        // title
        .title {
          font-size: 0.8rem;
          font-family: $open-sans;
          font-weight: 500;
        }

        // search box
        .search-box {
          width: 15vw;
          height: 50%;
          display: flex;
          align-items: center;
          padding-left: 1vw;
          margin-left: 1rem;
          border: 1px solid #2a2a2a;
          border-radius: 0.2rem;
          overflow: hidden;

          .icon {
            color: #8a8a8a;
            font-size: 0.6rem;
          }

          input {
            width: 100%;
            height: 100%;
            font-family: $open-sans;
            font-weight: 300;
            border: none;
            outline: none;
            padding: 0 1vw 0 0.8vw;
            font-size: 0.45rem;
            font-weight: 300;
            color: $text-color;
            background: none;
          }
        }

        // sort options
        .sort-options {
          position: relative;
          width: fit-content;
          height: 50%;
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          border: 1px solid #2a2a2a;
          border-radius: 0.2rem;
          font-size: 0.45rem;
          overflow: hidden;

          select {
            appearance: none;
            width: 100%;
            height: 100%;
            color: $text-color;
            padding: 0 2.5vw 0 1vw;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            font-family: $open-sans;
            font-weight: 300;
            transition: 0.5s;

            &:hover {
              color: #8a8a8a;
            }

            &:hover + .icon {
              color: #8a8a8a;
            }
          }

          .icon {
            position: absolute;
            pointer-events: none;
            right: 0.5vw;
            font-size: 0.6rem;
            transition: 0.5s;
          }
        }
      }

      // action buttons
      .action-buttons {
        display: flex;
        height: 50%;

        // export button
        .export-btn {
          display: flex;
          align-items: center;
          padding: 0 1.5vw;
          color: #e2e2e2;
          font-family: $open-sans;
          font-weight: 300;
          outline: none;
          background: none;
          border-radius: 0.2rem;
          border: 1px solid #2a2a2a;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            color: #8a8a8a;
          }

          .icon {
            font-size: 0.5rem;
            margin-right: 0.2rem;
          }
        }

        // add button
        .add-btn {
          margin-left: 0.5rem;
          display: flex;
          align-items: center;
          padding: 0 1vw;
          white-space: nowrap;
          color: #e2e2e2;
          font-family: $open-sans;
          font-weight: 300;
          outline: none;
          background: none;
          border-radius: 0.2rem;
          border: 1px solid #2a2a2a;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            color: #8a8a8a;
          }

          .icon {
            font-size: 0.6rem;
            margin-right: 0.2rem;
          }
        }
      }
    }

    // table
    .table {
      font-family: $open-sans;
      font-weight: 300;
      height: fit-content;

      thead {
        tr {
          color: #5a5a5a;
          font-size: 0.45rem;
          white-space: nowrap;

          th {
            font-weight: 500;
            padding-right: 0.5rem;
            text-align: start;

            &:nth-child(1) {
              width: 7%;
            } /* ID */
            &:nth-child(2) {
              width: 16%;
            } /* Customer Name */
            &:nth-child(3) {
              width: 12%;
            } /* Date of Registration */
            &:nth-child(4) {
              width: 12%;
            } /* Birthday */
            &:nth-child(5) {
              width: 7%;
            } /* Gender */
            &:nth-child(6) {
              width: 10%;
            } /* Membership */
            &:nth-child(7) {
              width: 10%;
            } /* Status */
            &:nth-child(8) {
              width: 8%;
            } /* Expenditure */
            &:nth-child(9) {
              width: 16%;
            } /* Action */
          }
        }
      }

      tbody {
        tr {
          font-size: 0.4rem;
          white-space: nowrap;

          td {
            padding-top: 15px;
            height: 50px;
            padding-right: 0.2rem;
          }

          // membership class
          .membership {
            text-align: center;

            .text {
              width: 80%;
              display: flex;
              justify-content: center;
              border-radius: 0.2rem;
              padding: 0.2rem 0.5rem;
            }
          }

          .membership-vip {
            background-color: #eb7e63;
          }

          .membership-basic {
            background-color: #a6abff;
          }

          .membership-silver {
            background-color: #8f8f8f;
          }

          // status class
          .status {
            text-align: center;

            .text {
              width: 80%;
              display: flex;
              justify-content: center;
              border-radius: 0.2rem;
              padding: 0.2rem 0.8rem;
            }
          }

          .status-active {
            background-color: #67bf92;
          }

          .status-inactive {
            background-color: #5a5a5a;
          }

          // action buttons
          .action-btn {
            display: flex;
            align-items: center;

            .edit-btn,
            .delete-btn,
            .view-btn {
              height: fit-content;
              padding: 0.2rem 0.4rem;
              background-color: #2a2a2a;
              color: #fff;
              display: inline-block;
              font-family: $open-sans;
              font-weight: 300;
              border-radius: 0.2rem;
              margin-right: 0.2rem;
              border: none;
              outline: none;
              transition: 0.5s;

              .icon {
                margin-right: 0.2rem;
                font-size: 0.5rem;
              }
            }
          }
        }
      }
    }

    .pagination {
      position: relative;
      bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 30px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 0.4rem;
        font-family: $open-sans;
        font-weight: 300;
        background-color: #2a2a2a;
        border: none;
        outline: none;
        border-radius: 0.2rem;
        margin: 0 0.2rem;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background-color: $primary-color;
        }

        &.active {
          background-color: $primary-color;
        }
      }
    }
  }
}
