@import "../../styles/common/root.scss";

.overview {
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 1vw;
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  gap: 1.5vw;

  .first-part {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 1.5vw;

    .first-item {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5vw;

      .mini-board {
        padding: 0.8vw 0.8vw 1.3vw 1.5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.5rem;
        font-family: $open-sans;

        .header-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.55rem;

          .title {
            font-weight: 600;
          }

          .icon {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(#37373f, 0.4);
          }
        }

        .value {
          margin-top: -5px;
          font-size: 1.2rem;
          font-weight: 700;
          font-family: $inter;
          color: #e2e2e2;
        }

        .footer-wrapper {
          display: flex;
          align-items: center;
          font-family: $open-sans;
          font-weight: 300;

          .percent-wrapper {
            display: flex;
            align-items: center;
            margin-right: 0.3rem;

            .icon {
              font-size: 0.5rem;
              display: flex;
              align-items: center;
              margin-right: 0.1rem;
            }
          }

          .text {
            color: #5a5a5a;
          }
        }
      }

      .active-accounts {
        width: 100%;
        height: 100%;
        background-color: $secondary-color;
        border-radius: 0.3rem;

        .header-wrapper {
          .icon {
            font-size: 0.7rem;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              color: #b5b5b5;
            }
          }
        }

        .title,
        .value {
          color: #2a2a2a;
        }
      }

      .orders {
        width: 100%;
        height: 100%;
        background-color: #161616;
        border-radius: 0.3rem;

        .header-wrapper {
          .icon {
            font-size: 0.6rem;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              color: #8a8a8a;
            }
          }
        }
      }
    }

    // second items
    .second-item {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 2.7fr 1fr;
      gap: 1.5vw;

      //   invoice statistics
      .invoice-statistics {
        width: 100%;
        height: 100%;
        background-color: #161616;
        border-radius: 0.3rem;
        font-size: 0.55rem;
        padding: 1.5vw 1.5vw;

        .header-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1vw;

          // title
          .title {
            font-size: 0.55rem;
            font-weight: 600;
            font-family: $open-sans;
          }

          // ellipsis button
          .ellipsis-btn {
            width: fit-content;
            height: fit-content;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              color: #8a8a8a;
            }
          }
        }
      }

      .engaged-users {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #161616;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        // header wrapper
        .header-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 3vw;

          .user-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.8rem;
            height: 1.8rem;
            border: 2px solid #2a2a2a;
            border-radius: 0.5rem;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              color: #8a8a8a;
            }
          }

          .title {
            padding: 0 0.5rem;
            margin-top: 3vw;
            font-size: 0.65rem;
            font-weight: 400;
            line-height: 1rem;
            text-align: center;
            color: #e2e2e2;
          }
        }

        // total users
        .total-users {
          position: relative;
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;

          .value {
            position: absolute;
            top: 1.5rem;
            z-index: 1;
            font-size: 0.5rem;
            font-weight: 700;
            background-color: $text-color;
            padding: 0.2rem 0.5rem;
            color: $primary-color;
            border-radius: 1rem;
          }

          img {
            position: relative;
            bottom: 0;
            width: 100%;
            object-fit: cover;
            z-index: 0;
          }
        }
      }
    }
  }

  //   second part
  .second-part {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1.2fr 1fr;
    gap: 1.5vw;

    //  revenue statistics
    .revenue-statistics {
      width: 100%;
      height: 100%;
      font-family: $open-sans;
      font-weight: 300;
      font-size: 0.4rem;
      padding: 0.6rem 0.7rem;
      background-color: #161616;
      border-radius: 0.3rem;
      overflow: hidden;

      // header wrapper
      .header-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        .title {
          font-size: 0.55rem;
          font-weight: 600;
        }

        // total information
        .total-info {
          font-size: 0.4rem;
          display: flex;
          align-items: center;

          //   total amount
          .total-amount {
            padding: 0.2vw 0.5vw;
            background-color: $primary-color;
            border-radius: 0.1rem;
            font-weight: 400;
          }

          //   total orders
          .total-orders {
            margin-left: 0.5vw;
            padding: 0.2vw 0.6vw;
            background-color: #2a2a2a;
            border-radius: 0.1rem;

            span {
              color: $secondary-color;
              font-weight: 400;
            }
          }

          .select-container {
            position: relative;
            height: 100%;
            background-color: #2a2a2a;
            margin-left: 0.5vw;
            display: flex;
            align-items: center;
            border-radius: 0.1rem;
            overflow: hidden;

            &:hover {
              background-color: #3a3a3a;
            }

            select {
              width: 100%;
              height: 100%;
              appearance: none;
              padding: 0.2vw 1.6vw 0.2vw 0.6vw;
              background: none;
              color: #e2e2e2;
              font-size: 0.4rem;
              font-family: $open-sans;
              font-weight: 300;
              outline: none;
              border: none;
              transition: 0.5s;
              cursor: pointer;
            }

            .icon {
              position: absolute;
              pointer-events: none;
              right: 0.15rem;
            }
          }
        }
      }
    }

    .recent-orders {
      width: 100%;
      height: 100%;
      background-color: #161616;
      border-radius: 0.3rem;
      padding: 1.5vw 2vw 0 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      // heading
      .heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 0.5rem;

        .title {
          font-size: 0.55rem;
          font-family: $open-sans;
          font-weight: 600;
        }

        .action {
          display: flex;
          align-items: center;

          .filter {
            font-size: 0.4rem;
            display: flex;
            align-items: center;
            padding: 0.3vw 0.8vw;
            margin-right: 0.8vw;
            font-family: $open-sans;
            font-weight: 300;
            cursor: pointer;
            transition: 0.5s;
            border: 1px solid #2a2a2a;
            border-radius: 0.1rem;

            &:hover {
              color: #8a8a8a;
            }

            .icon {
              font-size: 0.5rem;
              margin-right: 0.1rem;
            }
          }

          .ellipsis-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              color: #8a8a8a;
            }
          }
        }
      }

      // recent orders table
      .recent-orders-tbl {
        font-family: $open-sans;
        font-weight: 300;
        width: 100%;

        // thead
        thead {
          font-size: 0.9vw;
          color: #5a5a5a;

          // thead tr
          tr {
            // thead th
            th {
              padding: 1vw 0vw 1vw 0vw;
              text-align: center;
              font-weight: 400;
              border-bottom: 1px solid #2a2a2a;

              // thead customer name
              &:first-child {
                text-align: start;
                padding-right: 0.5vw;
              }
            }

            // thead status
            th:nth-child(5) {
              padding-right: 0.7vw;
              padding-left: 0.7vw;
            }
          }
        }

        // tbody
        tbody {
          font-size: 0.9vw;

          // tbody tr
          tr {
            align-items: center;

            // tbody first td
            &:first-child {
              td {
                padding-top: 1vw;
              }
            }

            // tbody td
            td {
              align-items: center;
              padding-top: 0.8vw;
              text-align: center;

              // tbody customer name
              &:first-child {
                display: flex;
                text-align: start;

                .avatar {
                  width: 2vw;
                  height: 2vw;
                  border-radius: 50%;
                  object-fit: cover;
                  margin-right: 0.5vw;
                  border: 1px solid #5a5a5a;

                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                  }
                }

                span {
                  text-transform: capitalize;
                }

                .customer-name {
                  max-width: 2.5rem; /* Adjust width as needed */
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: inline-block;
                  vertical-align: middle;
                  cursor: pointer;
                }

                .tooltip {
                  position: relative;
                  display: inline-block;
                }

                .tooltip .tooltiptext {
                  visibility: hidden;
                  width: fit-content;
                  background-color: black;
                  color: #fff;
                  text-align: center;
                  border-radius: 0.2rem;
                  padding: 0.1rem 0.3rem;
                  position: absolute;
                  z-index: 1;
                  bottom: 125%; /* Position the tooltip above the text */
                  left: 50%;
                  margin-left: -2rem;
                  opacity: 0;
                  transition: opacity 0.3s;
                }

                .tooltip:hover .tooltiptext {
                  visibility: visible;
                  opacity: 1;
                }
              }

              // tbody status
              &:nth-child(5) {
                font-size: 0.3rem;
                padding-right: 0.7vw;
                padding-left: 0.7vw;

                span {
                  width: 100%;
                  background-color: red;
                  display: inline-block;
                  padding: 0.2vw 0.3vw;
                  border-radius: 0.5rem;
                }
              }

              // tbody option
              &:nth-child(6) {
                width: fit-content;
                font-size: 0.3rem;

                span {
                  width: 100%;
                  background-color: #2a2a2a;
                  display: inline-block;
                  padding: 0.2vw 1.2vw;
                  border-radius: 0.5rem;
                  transition: 0.5s;
                  cursor: pointer;

                  &:hover {
                    background-color: #3a3a3a;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
